* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
.hud{
  display: inline-block;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.hud2 {
  display: inline-block;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: white;
 padding: 0;
}

.message{
    height: 25px;
    width: 35px;
   padding-right: 5px;

}


.try {
  top: 50%;
  background-color: white;
  padding: 8px;
  align-self: center;
  border-radius: 30px;
  border-color:hsl(322, 100%, 66%);
  font-size: 15px;
  color: hsl(322, 100%, 66%);
  
}


.huddle{
      flex-grow: 1;
      
}
.header{
  display: flex;
  margin: 5vh 5vw;
}

.com{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  

}

.com2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;


}

.word{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  
 
}

p{
  color: hsl(192, 100%, 9%);
}

.getStarted{
    padding: 15px;
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    color:white;
    font-family: 'open sans', sans;
    margin-left: 520px;
    margin-top: 2rem;
    font-size: 15px;
    width: 20%;
    border: none;
}


.getStarted2 {
  padding: 15px;
  border-radius: 30px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: 'open sans', sans;
  margin-left: 520px;
  margin-top: 2rem;
  margin-bottom: 7rem;
  font-size: 15px;
  width: 20%;
  border: none;
}

.mockup{
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}

 .follower{
      margin: 5vh 5vw;
      float: left;
      padding: 170px;
    }
.word2{
  margin-top: 20px;
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.word1{
  color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
      

 p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
 }

 .section1{
   background:hsl(207, 100%, 98%);
    width: 100%;
    display: flex;
 }
    
  .section2 {
        background: white;
        width: 100%;
        display: flex;
    }
 
 .mock{
  width: 50%;
  margin: -10px;
 }

 .section-2{

      width: 100%;
      margin-left: 90px;

 }

 .section2{
        margin-top: 90px;
        margin: 100px;
 }
 .mock2{
   width: 100%;
   margin: -35px 0;
 }

.grow{
  margin: 150px;
  font-family: 'Open Sans', sans-serif;
}


.grow2 {
  margin-top: 150px;
   margin-left:200px;
  width: 100%;
}

p{
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
}
.footer{
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;

}
.head{
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.footer-top-img{
  margin: -5px 0px;
}

.footer-color{
  background-color: hsl(192, 100%, 9%);
  padding-left: 80px;
  font-family: 'Open Sans', sans-serif;
 
}
.footerlogo{
  margin-top: 4rem;
  color: white;

}

.footerMessage{
  color:  white;
  margin-top: 20px;
}
.p1{
  color: white;
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

.icons{
  color:white;
  font-size: 35px;
  margin-top: 20px;
}


span{
  padding: 10px;
}

.newsLetter{
  float: right;
  padding-right: 400px;
}

.newsl{
  color: white;
  margin-top: 30px;
  font-size: 20px;
  font-family:'Open Sans', sans-serif;
}

.newsp{
  color: white;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

input{
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
  border: 0;
  padding: 10px;
}

.head1{
 background-color: hsl(322, 100%, 66%);
 border-radius: 5px;
 width: 100%;
 padding: 10px;
 border: 0;
 margin-top: 30px;
 margin-left: 25px;


}
.mock4{
  display: none;
}

.subs{
 display: flex;
}
 @media screen  and (max-width: 375px){
        .header{
          margin:20px;
        }
        .hud{
          font-size: 25px;
          font-display: 16px;
        }
        .message{
            height: 20px;
            width: 20px;
           padding-right:2px;
        }

        .try{
            padding: 8px;
            font-size: 10px;
            margin-right: 20px;

        }
        p{
          padding: 5px;
        }h1{
          font-size: 25px;
        }
        .mockup{
            max-width: 70%;
            height: auto;
          
        }
        .follower{
          padding:17px;
          margin-left: 100px;
        }
        .mock2, .mock3{
          display: none;
          
        }
        .mock4, .mock6{
          display: block;
        }
        .mock6{
          margin-top: -10px;
        }
        .section1{
          display: block;
        }
        .mock{
          width: 100%;
        }
         .grow, .grow2 {
           margin: 10px;
          
          }
          .head, .word1{
            text-align: center;
          }
          .word1, .word2{
            margin-top: 5px;
            padding-right:0;
            padding-left: 0;
          }
        .section-2 {
           width: 200%;
           margin-left:0;
          
         }
      }

 @media screen and (max-width: 375px) {
       .getStarted {
          margin-left: 100px;
          margin-top: 1rem;
          width: 50%;
          margin-top: 50px;
         }
        }